<!DOCTYPE html>

<html>
  <head>
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div class="table">
      <canvas id="board" class="board"></canvas>
      <div class="game-info">
        <div class="game-state">
          <p>Tetris</p>
          <p>Score: <span id="score">0</span></p>
          <p>Lines: <span id="lines">0</span></p>
          <p>Level: <span id="level">0</span></p>
          <canvas></canvas>
        </div>
        <button id="startButton">Start</button>
      </div>
    </div>
    <!-- why does removing type="script" make it all work? -->
    <script src="/scripts/piece.js"></script>
    <script src="/scripts/board.js"></script>
    <script src="/scripts/main.js"></script>
  </body>
</html>
