<!DOCTYPE html>

<html>
  <head>
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div class="table">
      <canvas id="board" class="board"></canvas>
      <div class="game-info">
        <div class="game-state">
          <div>
            <p>Tetris</p>
            <p>Score: <span id="score">0</span></p>
            <p>Lines: <span id="lines">0</span></p>
            <p>Level: <span id="level">0</span></p>
            <p>Frame Rate: <span id="fpsDisplay">0</span></p>
            <p>Next piece:</p>
            <canvas id="nextPiece"></canvas>
          </div>
        </div>
        <p id="isPaused">PAUSED</p>
        <div>
          <button id="startButton">Start</button>
          <button id="restartButton">Restart</button>
        </div>
      </div>
    </div>
    <!-- why does removing type="script" make it all work? -->
    <script src="/scripts/globals.js"></script>
    <script src="/scripts/piece.js"></script>
    <script src="/scripts/board.js"></script>
    <script src="/scripts/main.js"></script>
  </body>
</html>
